
{% comment %} <footer class="bg-black text-white text-lg pt-4 ">  
	<ul class="flex flex-col md:flex-row md:justify-around mx-auto lg:w-3/4">
	  <li class="mb-1 mx-auto">
		<a href="tel:+5913{{ settings.wgeneralData.GeneralSettings.tel }}" class="w-fill flex p-3 pl-3 rounded-lg">
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
		  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
		</svg>
		  <span class="ml-2" title="Teléfono">3-{{ settings.wgeneralData.GeneralSettings.tel }}</span>
		</a>
	  </li>
	  <li class="mb-1 mx-auto">
		<a href="mailto: {{ settings.wgeneralData.GeneralSettings.email }}" class="w-fill flex p-3 pl-3 hover:text-red-500 rounded-lg">
		  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
		  </svg>
		  <span class="ml-2 sm:hidden block" title="e-mail"></span>
		  <span class="ml-2 hidden sm:block" title="e-mail">{{ settings.wgeneralData.GeneralSettings.email }}</span> 
		</a>
	  </li>
	  <li class="mb-1 mx-auto">
		<a href="tel:+591{{ settings.wgeneralData.GeneralSettings.cel }}" class="w-fill flex p-3 pl-3 hover:text-yellow-350 rounded-lg">
		  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
		  </svg>
		  <span class="ml-2" title="celular">{{ settings.wgeneralData.GeneralSettings.cel }}</span>
		</a>
	  </li>
	</ul>
	<div class="text-xs border-t-2 border-gray-800 flex flex-row justify-center items-center p-6 mt-4 text-white">
		<div>© {% now "Y" %} MAGOREAL </div>
		<div>&nbsp;All rights reserved.<div>
	</div>
  </footer> {% endcomment %}

  <footer class="footer p-10 bg-neutral text-base-300 ">
	<div>
	  <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path></svg>
	  <p>ACME Industries Ltd.<br>Providing reliable tech since 1992</p>
	</div> 
	<div>
	  <span class="footer-title">Services</span> 
	  <a class="link link-hover">Branding</a> 
	  <a class="link link-hover">Design</a> 
	  <a class="link link-hover">Marketing</a> 
	  <a class="link link-hover">Advertisement</a>
	</div> 
	<div>
	  <span class="footer-title">Company</span> 
	  <a class="link link-hover">About us</a> 
	  <a class="link link-hover">Contact</a> 
	  <a class="link link-hover">Jobs</a> 
	  <a class="link link-hover">Press kit</a>
	</div> 
	<div>
	  <span class="footer-title">Legal</span> 
	  <a class="link link-hover">Terms of use</a> 
	  <a class="link link-hover">Privacy policy</a> 
	  <a class="link link-hover">Cookie policy</a>
	</div>
  </footer>