
  {% load wagtailcore_tags  %}
  

  <footer class="p-4 bg-dark sm:p-6">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0 px-6">
            <a href="https://flowbite.com/" class="flex flex-col lg:flex-row items-center text-brand-light">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-16 mx-auto sombra-x2" viewBox="0 0 150 110">
                <circle cx="49.8" cy="49.8" r="49" fill="none" stroke="currentColor" stroke-width="4"/>
                <circle cx="109.8" cy="49.8" r="35" fill="none" stroke="currentColor" stroke-width="4"/>
                <path stroke="currentColor" stroke-width="4" d="m84 26 12 7m-17 0 19 12M78 64l15 9M75 52l21 13M76 42l23 13"/>
              </svg>
                <span class="pl-4 text-lg whitespace-nowrap ">commons4all.org</span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-10 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm text-darkAccent uppercase">Services</h2>
                <ul class="text-brand-light ">
                  {% for item in services %}
                  <li class="mb-4">
                    <a href="{% pageurl item %}" class="hover:underline">{{ item.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm text-darkAccent uppercase">Organization</h2>
                <ul class="text-brand-light">
                    <li class="mb-4">
                        <a href="/" class="hover:underline ">About us</a>
                    </li>
                    <li>
                        <a href="/" class="hover:underline">Contact</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm text-darkAccent uppercase dark:text-white">Legal</h2>
                <ul class="text-brand-light">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {% now "Y" %} <a href="" class="hover:underline">magoreal™</a>. All Rights Reserved.
        </span>
    </div>
</footer>

