{% load static navigation_tags %}
{% comment %} {% load static navigation_tags svg %} {% endcomment %}


<header class="{{ class }}">
    <nav class="bg-opacity-20 h-90 fixed w-full top-0 z-50">
        <div class="float-left ml-7 text-3xl mt-2 tracking-wide">
            <a href="index.html">
                <div class="flex items-center">
                    <svg class="h-16 w-16 mr-3 sombra-x2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 180">
                        <g transform="translate(-20.775 10.257) scale(3.2282)" fill="none" stroke="#fff">
                            <circle cx="24.923" cy="24.702" r="16.048" stroke-width="1.442" />
                            <circle cx="43.706" cy="24.702" r="16.048" stroke-width="1.442" />
                            <path
                                d="m32.68 13.043 7.271 6.03m-9.734-3.709 10.754 9.338M27.946 28.1l9.444 7.883m-9.446-12.485 10.886 9.02m-9.964-13.263 11.603 9.77"
                                stroke-width="1.5" />
                        </g>
                    </svg>
                    <span class="sombra-x2">commons4all</span>
                </div>
            </a>
        </div>
        <div class="menu-icon absolute top-4 right-4">
            <span></span>
        </div>
    </nav>
    <section class="overlay-menu bg-darkShades text-lightShades">
        <div class="container mx-auto">
            <div class="row">
                <div class="main-menu">
                    <ul>
                        {% get_site_root as site_root %}
                        {% top_menu parent=site_root calling_page=self %}
                        {% comment %} <li>
                            <a href="index.html">Home - Full-width</a>
                        </li>
                        <li>
                            <a href="masonry.html">Home - Masonry</a>
                        </li>
                        <li>
                            <a href="grid.html">Home - Small-width</a>
                        </li> {% endcomment %}
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog Entries</a>
                        </li>
                        <li>
                            <a href="single-post.html">Single Post</a>
                        </li>
                    </ul>
                    <p>We create awesome templates for you.</p>
                </div>
            </div>
        </div>
    </section>
</header>