{% extends "base.html" %}

{% load wagtailimages_tags filters_tags social_share wmetadata_tags breadcrumbs_tags static %}

{% block meta_tag %}
	{% comment %} {% meta_tags %} {% endcomment %}
	{{ block.super }}
  	
{% endblock %}

{% block css %}
  	{{ block.super }}

{% endblock %}

{% block body_class %}bg-light w-full{% endblock body_class %}

{% block content %}
{% include "header.html" with class="mx-auto w-full z-50" navShadow="" %}

<main class="">
	<!-- PAGE TITLE SMALL -->
	<div class="mt-20 mb-12 bg-brand bg-opacity-10">
		<div class="container md:py-8 sm:px-4 mx-auto">
            <div class="flex flex-col sm:flex-row justify-between p-6">              
				<div class="">
					<h1 class="text-brand border-l-4 border-darkAccent tracking-wider p-10 ">{{self.title|upper}}</h2>
				</div>              
                {% breadcrumbs %}
            </div>
          </div>
		</div>
	</div>

	<!-- CONTENT CONTAINER -->
	<div class="container mx-auto sm:px-4 ">
		<!-- CONTENT -->
        <div class="pb-50 container">
            {% image self.image fill-750x420 format-webp class="object-cover min-w-full min-h-full rounded-lg" %}
            <div class="mx-auto px-2 prose-sm lg:prose-2xl prose-li:text-base lg:prose-li:text-lg prose-ul:list-disc prose-ol:list-decimal prose-h3:text-brand prose-h3:font-light">
            {{ self.body }}
            </div>
        </div>
    </div>
</main>

{% endblock content %}


{% block js %}
	{{ block.super }}
{% endblock js %}    



