{% extends "base.html" %}

{% load wagtailimages_tags filters_tags social_share wmetadata_tags static %}

{% block meta_tag %}
	{% meta_tags %}
	{{ block.super }}
  	
{% endblock %}

{% block css %}
  	{{ block.super }}

{% endblock %}

{% block body_class %}bg-base-100 w-full{% endblock body_class %}

{% block content %}
{% include "header.html" with class="mx-auto w-full z-50" navShadow="" %}

<main class="">
	<!-- PAGE TITLE SMALL -->
	<div class="py-12 md:pt-20">
		<div class="container mx-auto sm:px-4">
            <div class="flex flex-wrap">
              
				<div class="md:w-1/2 p-6">
					<h1 class="text-primary border-l-4 border-secondary tracking-wider py-6 p-10">{{self.title|upper}}</h2>
				</div>
              
				<!-- breadcrumbs -->
				<div class="md:w-1/2 p-4 pt-10 text-right">
					<div class="md:mt-12 text-right uppercase tracking-widest">
						<a href="index.html">Home</a><span class="slash-divider">/</span><a href="#">BLOG</a><span class="slash-divider">/</span><span class="bread-current">RIGHT SIDEBAR</span>
					</div>
				</div>
              
            </div>
          </div>
		</div>
	</div>

	<!-- COTENT CONTAINER -->
	<div class="container mx-auto sm:px-4 ">
		<div class="flex flex-wrap ">
		
			<!-- CONTENT -->
			<div class="sm:w-2/3 px-4 blog-main-posts">
		
				<!-- POST ITEM -->
				<div class="blog-post wow fadeIn pb-50">
					{% image self.image fill-750x420 format-webp class="object-cover min-w-full min-h-full rounded-lg" %}
					<div class="prose-lg">
					{{ self.content }}

					</div>
				</div>
			</div>
				
		<!-- SIDEBAR -->
		<div class="sm:w-1/3 px-4 md:w-1/4 col-md-offset-1">
		
			<!-- SEARCH -->
			<div class="widget">
				<form class="form-search widget-search-form" action="page-search-results.html" method="get">
				<input type="text" name="q" class="input-search-widget" placeholder="Search">
				<button class="" type="submit" title="Start Search">
					<span aria-hidden="true" class="icon_search"></span>
				</button>
				</form>
			</div>
			
			{% comment %} <!-- WIDGET -->
			<div class="widget">
				
				<h5 class="widget-title">Categories</h5>
				
				<div class="widget-body">
				<ul class="clearlist widget-menu">
					<li>
					<a href="#" title="">Branding</a><small><span class="slash-divider">/</span> 10</small>
					</li>
					<li>
					<a href="#" title="">Development</a><small><span class="slash-divider">/</span> 21</small>
					</li>
					<li>
					<a href="#" title="">Technology </a><small><span class="slash-divider">/</span> 11</small>
					</li>
					<li>
					<a href="#" title="">Social Media</a><small><span class="slash-divider">/</span> 16</small>
					</li>
					<li>
					<a href="#" title="">Entertainment </a><small><span class="slash-divider">/</span> 8</small>
					</li>
				</ul>
				</div>
				
			</div> {% endcomment %}
			
			<!-- WIDGET RECENT -->
			<div class="widget my-5">
				
				<h5 class="uppercase tracking-wider text-primary">Recent posts</h5>
				
				<ul class="clearlist ">
					<li class="flex my-5">
						<a href="">
							<div class ="h-24 w-24 bg-gray-300">
							</div>
						</a>
						<div class="mt-2 pl-4">
							<a href="#" title="" class="text-secondary">TIME FOR MINIMALISM</a>
							<div class="my-2">21 Jule<span class="slash-divider">/</span> John Doe</div> 
						</div>
					</li>

					<li class="flex my-5">
						<a href="">
							<div class ="h-24 w-24 bg-gray-300">
							</div>
						</a>
						<div class="mt-2 pl-4">
							<a href="#" title="" class="text-secondary">NEW TRENDS IN WEB</a>
							<div class="my-2">21 Jule<span class="slash-divider">/</span> John Doe</div> 
						</div>
					</li>

					<li class="flex my-5">
						<a href="">
							<div class ="h-24 w-24 bg-gray-300">
							</div>
						</a>
						<div class="mt-2 pl-4">
							<a href="#" title="" class="text-secondary">THE SOUND OF LIFE</a>
							<div class="my-2">21 Jule<span class="slash-divider">/</span> John Doe</div> 
						</div>
					</li>

				</ul>
			</div>
				
		
			
			{% comment %} <!-- WIDGET -->
			<div class="widget">
								
				<h5 class="widget-title">Tags</h5>
				
				<div class="widget-body">
				<div class="tags">
					<a href="">Design</a>
					<a href="">Development</a>
					<a href="">Minimal</a>
					<a href="">Branding</a>
					<a href="">Unique</a>
					<a href="">Clean</a>
					<a href="">UI &amp; UX</a>
				</div>
				</div>
				
			</div> {% endcomment %}
			
			<!-- WIDGET -->
			<div class="widget my-5">
				<h5 class="uppercase tracking-wider text-primary">Important</h5>

				<div class="widget-body">
				<p>Lorem ipsum dolor sit amet, cotur adcing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda</p>
				</div>
			</div>
			
			{% comment %} <!-- WIDGET -->
			<div class="widget">
				
				<h5 class="widget-title">Archive</h5>
				
				<div class="widget-body">
				<ul class="clearlist widget-menu">
					<li>
					<a href="#" title="">October 2020</a><small><span class="slash-divider">/</span> 10</small>
					</li>
					<li>
					<a href="#" title="">July 2020</a><small><span class="slash-divider">/</span> 21</small>
					</li>
					<li>
					<a href="#" title="">June 2020 </a><small><span class="slash-divider">/</span> 11</small>
					</li>
				</ul>
				</div>
				
			</div>

			</div> {% endcomment %}
			
		</div>
		</div>
	  {% comment %} <div class="container mx-auto sm:px-4">
		<div class="flex flex-wrap ">
		  <div class="sm:w-2/3 pr-4 pl-4">
			<div class="post">
				{% image self.image width-320 format-webp class="object-cover min-w-full min-h-full rounded-lg" %}
			  <div class="post-header font-alt">
				<h1 class="text-center "> {{ self.title }}</h1>
			  </div>
			  <div class="prose-lg">
				{{ self.content }}
			  </div>
			</div> {% endcomment %}

</main>




{% endblock content %}


{% block js %}
	{{ block.super }}
{% endblock js %}    



